{% extends 'base.html' %}
{% block index %}
<div>
    <a href="/">
        <button>home</button>
    </a>
</div>
<div>
    <h1>here is datam</h1>
</div>
<div>
    <table border="1px">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>age</th>
        </tr>
        
        {% for person in people %}
        <tr>
            
            <td>{{ person["_id"] }}</td>
            <td>{{ person["name"] }}</td>
            <td>{{ person["age"] }}</td>
            <td>
                <form action="{{ url_for('delete', id = person['_id']) }}" method="post">
                    <input type="submit" value="delete" onclick="return confirm('do you want to delete?')">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
